# Allowlist: ignore everything, then explicitly allow what should be tracked.
*
!*/

# Code
!*.go
!go.mod
!go.sum

# Documentation
!*.md
!LICENSE

# Repo config
!.gitignore
!.github/**

# Test fixtures
!**/testdata/**
